<body>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('app/public/img/colors.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Adataim</h1>
                        <hr class="small">
                        <span class="subheading">Itt tekintheted meg az adataidat.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
    	<div class="row">
        	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<p><span class="section-title">Személyes adatok</span></p>
            	<div class="table-responsive">
	            	<table class="table" *ngFor="let my of mydata">
	            		<tr>
	            			<th>Felhasználónév</th>
	            			<td>{{my.username}}</td>
	            		</tr>
	            		<tr>
	            			<th>Email cím</th>
	            			<td>{{my.email}}</td>
	            		</tr>
	            		<tr>
	            			<th>Település</th>
	            			<td>{{my.place}}</td>
	            		</tr>
	            		<tr>
	            			<th>Pontszám</th>
	            			<td>{{my.point}}</td>
	            		</tr>
	            	</table>
	            </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">           
            	<p><span class="section-title">Kölcsönzések</span></p>
            	<div class="table-responsive">
	            	<table class="table">
	            		<tr>
	            			<th>Kölcsönadó</th>
	            			<th>Szerző</th>
	            			<th>Cím</th>
	            			<th>Év</th>
	            			<th>Kiadó</th>
	            			<th>Kiadási év</th>
	            			<th>ISBN</th>
	            		</tr>
	            		<tr *ngFor="let b of borrowings">
	            			<td><a href="app/public/mydata.html">{{b.lender}}</a></td>
	            			<td>{{b.writer}}</td>
	            			<td>{{b.title}}</td>
	           				<td>{{b.year}}</td>
	           				<td>{{b.publisher}}</td>
	           				<td>{{b.p_year}}</td>
	           				<td>{{b.ISBN}}</td>
	           			</tr>
	           		</table>
	           	</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">           	
            	<p><span class="section-title">Kölcsönadások</span></p>
	           	<div class="table-responsive">
	           		<table class="table">
	           			<tr>
	           				<th>Kölcsönző</th>
	           				<th>Szerző</th>
	           				<th>Cím</th>
	           				<th>Év</th>
	           				<th>Kiadó</th>
	           				<th>Kiadási év</th>
	           				<th>ISBN</th>
	           			</tr>
	           			<tr *ngFor="let l of lendings">
	           				<td><a href="app/public/mydata.html">{{l.borrower}}</a></td>
	           				<td>{{l.writer}}</td>
	           				<td>{{l.title}}</td>
	           				<td>{{l.year}}</td>
	           				<td>{{l.publisher}}</td>
	           				<td>{{l.p_year}}</td>
	           				<td>{{l.ISBN}}</td>
	           			</tr>
	           		</table>
	           	</div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<p><span class="section-title">Új könyv-kölcsönadási ajánlat felvétele</span></p>
                <!-- Form to add a book to the list -->
                <form name="addBook" id="addBookForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Szerző</label>
                            <input #writer type="text" class="form-control" placeholder="Szerző" id="writer" required data-validation-required-message="Kérlek add meg a szerzőt.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Cím</label>
                            <input #title type="text" class="form-control" placeholder="Cím" id="title" required data-validation-required-message="Kérlek add meg a címet.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Év</label>
                            <input #year type="number" class="form-control" placeholder="Év" id="year" required data-validation-required-message="Kérlek add meg az évet.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Kiadó</label>
                            <input #publisher type="text" class="form-control" placeholder="Kiadó" id="publisher" required data-validation-required-message="Kérlek add meg a kiadót.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Kiadási év</label>
                            <input #p_year type="number" class="form-control" placeholder="Kiadási év" id="p_year" required data-validation-required-message="Kérlek add meg a kiadás évét.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>ISBN</label>
                            <input #isbn type="text" class="form-control" placeholder="ISBN" id="isbn" required data-validation-required-message="Kérlek add meg a könyv ISBN azonosítóját.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                </form>
                <div class="row">
                	<div class="form-group col-xs-12">
                    	<button type="button" (click)="addLending(writer.value, title.value, year.value, publisher.value, p_year.value, isbn.value)" class="btn btn-default">Felvesz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://onedrive.live.com/redir?resid=8D4A1A5E62695A25!524&authkey=!APi38CwJ_4LrdIo&ithint=file%2cdocx">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/cherryBomba58/RWA">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; cherryBomba58 2016</p>
                </div>
            </div>
        </div>
    </footer>

</body>
